@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0d11;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--evanston-tavern), sans-serif;
}

.plus {
  --b: 1px; /* the thickness*/
  --c: #0000 90deg, #222a30 0; /* the coloration */
  width: 20px; /* the size */
  aspect-ratio: 1;
  background: conic-gradient(from 90deg at var(--b) var(--b), var(--c))
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
}
